<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
  </head>
  <body>
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Error en el usuario o contraseña</p>
    <form action="#" th:action="@{/checkLogin}" th:object="${loginUser}" method="post">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" th:field="*{usuario}" th:value="*{usuario}" /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password"  th:field="*{pass}" th:value="*{pass}" /> <br />
      <input type="submit" value="Log in" />
    </form>
  </body>
</html>